In [17]:
import pandas as pd
import time

In [4]:
!wget "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-01.csv.gz"

--2023-01-29 18:12:00--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/green/green_tripdata_2019-01.csv.gz
Loaded CA certificate '/etc/ssl/certs/ca-certificates.crt'
Resolving github.com (github.com)... 20.205.243.166
Connecting to github.com (github.com)|20.205.243.166|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/d3904232-1a2b-431b-803d-0ee802cd14fc?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230129%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230129T111201Z&X-Amz-Expires=300&X-Amz-Signature=bf67d014801f22e7e0a8003bde44419ed3bd6ed796d63c2e29604776fc0981db&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-01.csv.gz&response-content-type=application%2Foctet-stream [following]
--2023-01-29 18:12:01--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/d3904232-1a2b-431b-803d-0ee802cd14fc?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230129%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230129T111201Z&X-Amz-Expires=300&X-Amz-Signature=bf67d014801f22e7e0a8003bde44419ed3bd6ed796d63c2e29604776fc0981db&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dgreen_tripdata_2019-01.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 11099245 (11M) [application/octet-stream]
Saving to: ‘green_tripdata_2019-01.csv.gz’

green_tripdata_2019 100%[===================>]  10.58M   248KB/s    in 33s

2023-01-29 18:12:35 (324 KB/s) - ‘green_tripdata_2019-01.csv.gz’ saved [11099245/11099245]

In [7]:
!wget "https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv"

--2023-01-29 18:12:52--  https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
Loaded CA certificate '/etc/ssl/certs/ca-certificates.crt'
Resolving s3.amazonaws.com (s3.amazonaws.com)... 54.231.227.104, 52.217.74.38, 54.231.199.32, ...
Connecting to s3.amazonaws.com (s3.amazonaws.com)|54.231.227.104|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12322 (12K) [application/octet-stream]
Saving to: ‘taxi+_zone_lookup.csv’

taxi+_zone_lookup.c 100%[===================>]  12.03K  6.02KB/s    in 2.0s

2023-01-29 18:12:56 (6.02 KB/s) - ‘taxi+_zone_lookup.csv’ saved [12322/12322]

In [8]:
taxi = pd.read_csv("./taxi+_zone_lookup.csv")

In [104]:
taxi

     LocationID        Borough                     Zone service_zone
0             1            EWR           Newark Airport          EWR
1             2         Queens              Jamaica Bay    Boro Zone
2             3          Bronx  Allerton/Pelham Gardens    Boro Zone
3             4      Manhattan            Alphabet City  Yellow Zone
4             5  Staten Island            Arden Heights    Boro Zone
..          ...            ...                      ...          ...
260         261      Manhattan       World Trade Center  Yellow Zone
261         262      Manhattan           Yorkville East  Yellow Zone
262         263      Manhattan           Yorkville West  Yellow Zone
263         264        Unknown                       NV          NaN
264         265        Unknown                      NaN          NaN

[265 rows x 4 columns]

In [163]:
taxi.loc[taxi.Zone == "Astoria"]

   LocationID Borough     Zone service_zone
6           7  Queens  Astoria    Boro Zone

In [192]:
trip_itter = pd.read_csv("./green_tripdata_2019-01.csv.gz",iterator=True,chunksize=100000)

In [189]:
trip = next(trip_itter)

StopIteration:

In [154]:
trip

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.00,0.5,0.5,0.00,0.00,NaN,0.3,4.30,2,1,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.00,0.5,0.5,0.00,0.00,NaN,0.3,7.30,2,1,NaN
2,2,2019-01-01 00:27:11,2019-01-01 00:31:38,N,1,49,189,2,0.66,4.50,0.5,0.5,0.00,0.00,NaN,0.3,5.80,1,1,NaN
3,2,2019-01-01 00:46:20,2019-01-01 01:04:54,N,1,189,17,2,2.68,13.50,0.5,0.5,2.96,0.00,NaN,0.3,19.71,1,1,NaN
4,2,2019-01-01 00:19:06,2019-01-01 00:39:43,N,1,82,258,1,4.53,18.00,0.5,0.5,0.00,0.00,NaN,0.3,19.30,2,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,2,2019-01-06 09:56:09,2019-01-06 10:01:30,N,1,130,216,1,1.23,6.00,0.0,0.5,0.00,0.00,NaN,0.3,6.80,2,1,NaN
99996,2,2019-01-06 09:12:49,2019-01-06 09:52:38,N,5,218,16,1,21.44,47.65,0.0,0.5,0.00,5.76,NaN,0.0,53.91,1,2,NaN
99997,2,2019-01-06 09:02:06,2019-01-06 09:37:42,N,5,139,188,1,14.77,37.84,0.0,0.5,0.00,0.00,NaN,0.0,38.34,1,2,NaN
99998,2,2019-01-06 09:55:01,2019-01-06 10:04:34,N,1,72,188,1,1.80,8.50,0.0,0.5,0.00,0.00,NaN,0.3,9.30,1,1,NaN
99999,2,2019-01-06 09:59:04,2019-01-06 10:24:33,N,5,89,225,1,7.03,23.14,0.0,0.5,0.00,0.00,NaN,0.0,23.64,1,2,NaN

In [198]:
trip.lpep_dropoff_datetime = pd.to_datetime(trip.lpep_dropoff_datetime)
trip.lpep_pickup_datetime = pd.to_datetime(trip.lpep_pickup_datetime)

In [205]:
print(trip.loc[trip.trip_distance.idxmax()].lpep_pickup_datetime.date())

2019-01-31

In [148]:
trip.lpep_pickup_datetime.dt.date

100000    2019-01-06
100001    2019-01-06
100002    2019-01-06
100003    2019-01-06
100004    2019-01-06
             ...
199995    2019-01-11
199996    2019-01-11
199997    2019-01-11
199998    2019-01-11
199999    2019-01-11
Name: lpep_pickup_datetime, Length: 100000, dtype: object

In [109]:
len(trip.loc[((trip.lpep_dropoff_datetime.dt.strftime('%Y-%m-%d') == "2019-01-15") & (trip.lpep_pickup_datetime.dt.strftime('%Y-%m-%d') == "2019-01-15"))])

952

In [159]:
len(trip.loc[(((trip.lpep_pickup_datetime.dt.strftime('%Y-%m-%d') == "2019-01-01"))& (trip.passenger_count == 2))])

1282

In [160]:
len(trip.loc[(((trip.lpep_pickup_datetime.dt.strftime('%Y-%m-%d') == "2019-01-01"))& (trip.passenger_count == 3))])

254

In [187]:
id_tip_max = trip.loc[(trip.PULocationID == 7)].tip_amount.idxmax()

In [207]:
trip.loc[id_tip_max]

VendorID                                   2
lpep_pickup_datetime     2019-01-30 16:03:21
lpep_dropoff_datetime    2019-01-30 16:07:29
store_and_fwd_flag                         N
RatecodeID                                 1
PULocationID                               7
DOLocationID                               7
passenger_count                            1
trip_distance                           0.34
fare_amount                              4.5
extra                                    1.0
mta_tax                                  0.5
tip_amount                              10.0
tolls_amount                             0.0
ehail_fee                                NaN
improvement_surcharge                    0.3
total_amount                            16.3
payment_type                               1
trip_type                                  1
congestion_surcharge                     0.0
Name: 601486, dtype: object

In [218]:
taxi.loc[taxi.LocationID == 146].Zone.values[0]

'Long Island City/Queens Plaza'